<html>
<title> Quiz </title>
  <form action="/vote" method="POST">
  {% csrf_token %}
  {% for ques in ques_all %}
    <h2>{{ ques.question_text}}</h2>
    {% for answer in ques.ans_set.all %}
      <li>{{ answer.ans_text }}</li>
    {% endfor %}
  {% endfor %}
    <!-- <input type="radio" name="false" value="{{ques_false}}"> False </radio><br>
    <input type="radio" name="true" value="{{ques_true}}"> True </radio><br><br> -->
    <br>
    <button type="submit" name="submit"> Submit </button>


  <!-- {% for choice in question %}
    <input type="radio" name="choice" id="chi=oice{{ forloopcounter }}" value"{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ ans.ans_text}}
  {% endfor %} -->

</form>
</html>
